/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

:root {
    --bg-color1: #fef9f1;
    --bg-color2: #b1bcd6;
    --txt-color2: #3d509c;
}
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*
 * Web Fonts from colophon-foundry.org
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Colophon Foundry. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2018 Colophon Foundry
 *
 * Licenced to Elisa Ferrari 
 */

@font-face {
    font-family: 'raisonne-demibold';
    src: url('../fonts/raisonne-demibold.eot');
    src: url('../fonts/raisonne-demibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raisonne-demibold.woff') format('woff'),
        url('../fonts/raisonne-demibold.woff2') format('woff2'),
        url('../fonts/raisonne-demibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'doulos';
    src: url('../fonts/DoulosSIL-R.eot');
    src: url('../fonts/DoulosSIL-R.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DoulosSIL-R.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    color: #ad5527;

    font-family: 'kings-caslon-display', serif;
    overflow-x: hidden;
}
.about-page {
    margin-left: 15px;
}
a.strike {
    text-decoration: line-through !important;
}
a.link {
    color: #ad5527;
    text-decoration: underline;
}
a.link.nolink {
    text-decoration: none;
}
a.link:hover {
    color: #d7784c;
}

h6.no-margin {
    margin-left: 0px;
}
ul {
    padding-left: 15px;
    margin-bottom: 10px;
}
h6 {
    margin-bottom: 0px;
}
li {
    font-size: 14px;
}
.mg-btm-lrg {
    padding-bottom: 150px;
}
.ascii {
    padding-top: 35px;
    padding-bottom: 35px;
}

.about-text {
    line-height: 22px;
    margin-bottom: 0rem;
    font-family: 'raisonne-demibold', sans-serif;
}
.home {
    margin-left: 15px;
    margin-bottom: 5px;
    font-family: 'raisonne-demibold', sans-serif;
}
.about-link {
    font-family: 'kings-caslon-display', serif;
    margin-bottom: 25px;
}

.container-fluid {
    position: relative;
}
.flyer-one-img {
    position: relative;
    /* bottom: 150px; */
    right: -15px;
}
.padding-r-xs {
    padding-right: 25px;
}
.break {
    word-wrap: break-word;
}

.flyer-one-wrap p,
.flyer-one-wrap h4,
.flyer-one-wrap h6 {
    font-family: 'raisonne-demibold', sans-serif;
}
.flyer-one-wrap h4 {
    text-decoration: underline;
}

.flyer-one-wrap p {
    margin-bottom: 0rem;
    line-height: 22px;
}
.bottom-mg {
    margin-bottom: 50px;
}
.small-btm {
    margin-bottom: 10px;
}
p.small-btm {
    margin-bottom: 10px;
}
.indent {
    text-indent: 25px;
}
.x2-indent {
    text-indent: 100px;
}
.x3-indent {
    text-indent: 150px;
}
.larger {
    font-size: 1.4em;
    letter-spacing: 1px;
}
.up {
    position: relative;
    bottom: 2px;
    font-size: 22px;
    font-family: 'kings-caslon-display', serif;
}
.font-plus {
    font-size: 22px;
    letter-spacing: 1.5px;
}
.down {
    position: relative;
    top: 2px;
    font-size: 22px;
    font-family: 'kings-caslon-display', serif;
}
.x1-ls {
    letter-spacing: 5px;
    font-family: 'kings-caslon-display', serif;
}

h4.glossary {
    text-decoration: none;
    font-family: 'kings-caslon-display', serif;
}

.flex-grow {
    flex: 1 0 auto;
}
.caslon {
    font-family: 'kings-caslon-display', serif !important;
}

#flyer-1 {
    display: none;
    position: absolute;
    top: 150px;
    background-color: #fef9f1;
}

.ipa {
    font-family: 'doulos';
}

.wfwrap {
    /* position: relative;  */
    /* display: inline-block; */
}
#waveform {
    position: absolute;
    left: 140px;
    right: 0px;
    top: -35px;
}

.controls {
    /* display: none;
    position: fixed;
    bottom: 38px; */

    margin-left: 10px;
}

.controls > i {
    font-size: 22px;
    cursor: pointer;
    user-select: none;
}

.event-1 {
}
.event-1 > p {
    font-size: 0.9em;
    color: #5e5f94;
    font-family: 'kings-caslon-display', serif !important;
}

a.event-link {
    color: #5e5f94;
    position: relative;
    text-decoration: underline;
    z-index: 1000;
}
a.event-link.nolink {
    text-decoration: none;
}
a.event-link:hover {
    z-index: 1000;
    color: #5e5f94;
}
/* // Small devices (landscape phones, 576px and up) */
.flyer-1 {
    padding-top: 35px;
    background-color: var(--bg-color1);
}
.flyer-2 {
    padding-top: 35px;
    background-color: var(--bg-color2);
}

a.link.fl2 {
    color: var(--txt-color2);
}

@media only screen and (min-width: 320px) {
    #flyer-1 {
        display: initial;
        position: relative;
        top: 0px;
    }
    .home {
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .about-link {
        margin-left: 0px;
    }
    .about {
        margin-bottom: 25px;
    }
    .flyer-one-img {
        position: relative;
        top: 50px;
        right: -15px;
    }
    .controls {
        margin-left: 0px;
    }

    #flyer-1 {
        display: initial;
        position: relative;
        top: 75px;
    }

    #waveform {
        position: absolute;
        top: -35px;
        left: 75px;
        right: 0px;
        /* width: 90%; */
    }
    .about-page {
        margin-left: 0px;
    }
}
@media only screen and (min-width: 375px) {
    .home {
        margin-left: 0px;

        margin-bottom: 5px;
    }
    .about-link {
        margin-left: 0px;
    }
    .about {
        margin-bottom: 25px;
    }
    #flyer-1 {
        display: initial;
        position: relative;
        top: 75px;
    }
    .flyer-one-img {
        position: relative;
        /* bottom: 0px; */
        right: -15px;
    }
}

@media only screen and (min-width: 414px) {
    body {
    }
    .home {
        margin-left: 0px;
        /* margin-bottom: 25px; */
        margin-bottom: 5px;
    }
    .about-link {
        margin-left: 0px;
    }
    .about {
        margin-bottom: 25px;
    }
    .flyer-one-img {
        position: relative;
        right: -15px;
    }
    #flyer-1 {
        display: initial;
        position: relative;
        top: 75px;
    }
    .controls {
        margin-left: 0px;
    }
}

@media (min-width: 576px) {
    body {
    }
    .home {
        margin-left: 0px;
        margin-bottom: 5px;
    }
    .about-link {
        margin-left: 0px;
    }
}

@media (min-width: 768px) {
    body {
    }

    .about-page {
        margin-left: 15px;
    }
    .home {
        margin-left: 15px;
        margin-bottom: 5px;
    }
    .about-link {
        margin-left: 15px;
    }

    .flyer-one-img {
        position: relative;
        top: 50px;
        right: -15px;
    }
    #flyer-1 {
        display: initial;
        position: relative;
        top: 50px;
    }
    .controls {
        margin-left: 10px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 769px) {
    body {
        position: relative;
    }
    .event-1 {
        padding-left: 0px;
    }
    .txt {
        margin-right: 5px;
    }
    .image-wrap {
        bottom: 100px;
    }
    .flyer-one-img {
        position: relative;
        bottom: 150px;
        top: 50px;
        right: -15px;
    }
    .home {
        margin-left: 15px;
        margin-bottom: 5px;
    }
    .about-link {
        margin-left: 15px;
    }

    #flyer-1 {
        display: none;
        position: absolute;
        top: 125px;
        background-color: #fef9f1;
        width: 56.3% !important;
    }

    #waveform {
        position: absolute;
        top: -35px;
        left: 140px;
        right: 0px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .controls {
        margin-left: 10px;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: ' '; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: ' (' attr(href) ')';
    }

    abbr[title]:after {
        content: ' (' attr(title) ')';
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^='#']:after,
    a[href^='javascript:']:after {
        content: '';
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
